.wrapper {
  font-size: 2rem;;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start, .restart {
  background-color: coral;
  font-size: 2rem;
}

.question {
  display: inline-block;
  width: 150px;
}

#answer {
  font-size: 100%;
}

.result {
  padding: 1rem;
  margin-bottom: 2rem;
}

.results {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0;
}

.results li {
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.hidden {
  display: none;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
  color: aqua;
}
