.wrapper {
  font-size: 1.4rem;
  max-width: 100vw;
  display: grid;
  justify-items: center;
}

.start,
.restart {
  background-color: coral;
  font-size: 1.4rem;
}

.workspace {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.question {
  /* display: inline-block; */
  /* flex-basis: 70%; */
  padding-right: 1rem;
}

.result {
  padding: 1rem;
  margin-bottom: 0;
}

.results {
  list-style-type: none;
  /* font-size: 1.4rem; */
  margin: 0;
  padding: 0;
}

.results li {
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.hidden {
  display: none;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
  color: aqua;
}
